*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    margin-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
}
h1{
    text-align: center;
    color: deeppink;
    margin-bottom: 2em;
}

.descrizione{
    text-align: center;
}

