
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    margin-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    width: auto;
}
h1{
    text-align: center;
    color: deeppink;
    margin-bottom: 2em;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    

}

.descrizione{
    text-align: center;
    margin-bottom: 1.5em;
    font-family: 'Exo 2', sans-serif;
}

img{
    width: 100px;
    height: 90px;
    float: left;
}
h2{
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
}

.mansione{
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: 'Exo 2', sans-serif;
}
.cards{
    width: 350px;
    height: 90px;
    background-color: rgb(8, 0, 57);
    color: white;
    float: left;
    margin: 10px;
}
.text{
    float: left;
    margin-left: 5px;
}
.email{
 color: blue;
 font-family: 'Roboto', sans-serif;
}